@font-face {
  font-family: 'Perfect DOS VGA 437';
  src: url('/fonts/Perfect DOS VGA 437.woff2') format('woff2'),
       url('/fonts/Perfect DOS VGA 437.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
